.patient_content
  %h1 О Проекте
  %p
    Глобальной целью данного проекта явялется улучшение качества мединцинского обслуживания,
    минимизация затрат на первичную диагностику пациента и создание удобной информационной среды для накопления истории
    медицинских измерений (температура, давление, содержание сахара в крови, пульс, кардиограмма и другие) и
    удобного обмена этими данными между врачем, пациентом и другими медицинскими информационными системами.
  %p
    Мы используем самые современные технические средства, технологии телемедицины и мобильной медицины.
