.patient_content
  %h1 About
  %p
    Global aim of this project is improving quality of medical service,
    minimizing costs of primary diagnosis of the patient and creating comfortable informational environment
    for accumulating history of medical measurements (e.g. body temperature, blood pressure, glucose, pulse,
    cardiogram and others) and providing simple and secure way to exchange this data between patient, doctor
    and other medical information systems.
  %p
    We use latest technologies of telemedicine and mobile medicine.
