%h1= t(".title", :threshold => @measurement_threshold.class.model_name.human.mb_chars.downcase.to_s)
= render 'form'
= link_to t(:show), [@patient, @measurement_threshold]
|
= link_to t(:back), :back
