%p
  Hi, #{"#{@resource.first_name} #{@resource.last_name}"}!
%p Someone (probably you) has requested a new password. If it was your request you can change your password following by link below:
%p
  = link_to 'Change My Password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p If you have not requested a password change just do nothing and ignore this letter.
%p Your password cannot be changed until you follow the link.
