%p
  Здравствуйте #{"#{@resource.first_name} #{@resource.last_name}"}!
%p К нам поступил запрос на смену вашего пароля. Если вы действительно хотите сменить пароль, следуйте по нижеприведенной ссылке.
%p
  = link_to 'Сменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
  \.
%p Если вы не отправляли запрос на смену пароля, просто проигнорируйте это письмо.
%p Ваш пароль не будет сменен, пока вы не пройдете по этой ссылке и не смените пароль вручную.
